<div>
    <div class="container-fluid h-100 position-absolute" id="div-login">
        <div class="row h-100">
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div>
                        <div class="w-100 d-flex justify-content-center">
                            <img class="img-fluid" src="assets/images/logo.png" width="150" height="150">
                        </div>
                        <h1 class="text-white text-center fw-bold display-3">WELCOME</h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 bg-primary-color" id="container-form">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div id="card-login" class="card pt-4 pb-4 ps-2 pe-2">
                        <div class="card-body">
                            <input type="email" class="input input-control p-3 font-size-small" placeholder="Enter your email">
                            <input type="password" class="input input-control p-3 font-size-small mt-2 mb-2" placeholder="Enter your password">
                            <br>
                            <a href="" class="link-primary font-size-small">Forgot your password?</a>
                            <button class="button button-secondary font-size-small w-100 mt-3 pt-3 pb-3" [routerLink]="'/admin/dashboard'">SIGN IN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>