<h3 class="title fs-5">Students</h3>
<div class="mt-3 d-flex align-items-center">
    <p class="bc-inactive font-size-small poppins">
        Home
    </p>
    <span class="material-symbols-outlined text-secondary-color ms-2 mb-3">
        chevron_right
    </span>
    <p class="text-secondary-color font-size-small poppins fw-bold ms-2">
        Student Admit Form
    </p>
</div>
<div class="content mt-4 p-4 overflow-x-auto">
    <div class="container-fluid">
        <h3 class="mt-5 poppins fs-4 fw-bold">Student Promotion </h3>
        <div class="row align-items-center mt-3">
            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="name" class="poppins font-size-small">Name *</label>
                <br>
                <input type="text" id="name" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="current_class" class="poppins font-size-small">Current Class *</label>
                <br>
                <select id="current_class" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select Class</option>
                </select>
            </div>
            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="promotion_from_class" class="poppins font-size-small">Promotion From Class *</label>
                <br>
                <select id="promotion_from_class" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select</option>
                </select>
            </div>
            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="promotion_to_class" class="poppins font-size-small">Promotion To Class *</label>
                <br>
                <select id="promotion_to_class" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select</option>
                </select>
            </div>
        </div>
        <div class="d-flex mt-5">
            <button class="button button-secondary py-2 px-5">Save</button>
            <button class="button button-primary py-2 px-5 ms-3">Reset</button>
        </div>
    </div>


</div>