<div class="nav-bar bg-white">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-8 col-md-10 d-flex align-items-center">
                <span id="icon-search" class="material-symbols-outlined fs-2">
                    search
                </span>
                <input type="search" id="input-search" class="w-100 poppins" placeholder="Search">
            </div>
            <div class="col-4 col-md-2 d-flex align-items-center">
                <span class="material-symbols-outlined fs-4 text-secondary-color link-headbar">
                    mail
                </span>
                <span class="material-symbols-outlined fs-4 text-secondary-color ms-3 link-headbar">
                    notifications
                </span>
                <span class="fs-4 text-secondary-color ms-3 mb-2">
                    |
                </span>
                <div class="d-flex align-items-center ms-3 clickeable">
                    <div id="avatar"></div>
                    <span class="material-symbols-outlined">
                        arrow_drop_down
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>