<div class="p-0">
    <div class="sidebar bg-primary-color collapsing navbar-collapse"
        [ngClass]="{'sidebar-width-normal': !isMobile, 'sidebar-width-mobile': isMobile }">
        <div class="sidebar-header d-flex justify-content-between align-items-center p-3 bg-secondary-color position-fixed"
            [ngClass]="{'sidebar-width-normal': !isMobile, 'sidebar-width-mobile': isMobile }">
            @if(!isMobile){
            <img class="img-fluid" src="assets/images/logo-small.png" width="50" height="50">
            }
        </div>
        <div class="sidebar-body">
            <div [routerLink]="'/admin/dashboard'" class="d-flex align-items-center text-white icon-sidebar px-3">
                <span class="material-symbols-outlined">
                    av_timer
                </span>
                @if(!isMobile){
                <p class="mt-3 ms-2 fw-bold poppins">
                    Dashboard
                </p>
                }

            </div>
            <div class="d-flex align-items-center justify-content-between text-white icon-sidebar px-3"
                (click)="switchStudentsModule()">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        directions_walk
                    </span>

                    @if(!isMobile){
                    <p class="mt-3 ms-2 poppins">
                        Students
                    </p>
                    }

                </div>
                @if(!isMobile){
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
                }
            </div>

            @if (showStudentsModule) {
            <div class="bg-third-color py-2">
                <div [routerLink]="'/admin/all-student'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Students
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }

                    </div>
                </div>
                <!-- <div [routerLink]="'/admin/add-student'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Add Students
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        }
                    </div>
                </div> -->
                <div [routerLink]="'/admin/promotion-student'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Students Promotion
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            description
                        </span>
                        }

                    </div>
                </div>
            </div>
            }

            <div class="d-flex align-items-center justify-content-between text-white icon-sidebar px-3"
                (click)="switchParentsModule()">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        group
                    </span>

                    @if(!isMobile){
                    <p class="mt-3 ms-2 poppins">
                        Parents
                    </p>
                    }

                </div>
                @if(!isMobile){
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
                }

            </div>

            @if (showParentsModule) {
            <div class="bg-third-color py-2">
                <div [routerLink]="'/admin/all-parent'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Parents
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }

                    </div>
                </div>
                <div [routerLink]="'/admin/add-parent'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Add Parents
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        }
                    </div>
                </div>
            </div>
            }

            <!-- <div class="d-flex align-items-center justify-content-between text-white icon-sidebar px-3"
                (click)="switchTeachersModule()">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        hail
                    </span>
                    @if(!isMobile){
                    <p class="mt-3 ms-2">
                        Teachers
                    </p>
                    }

                </div>
                @if(!isMobile){
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
                }

            </div> -->
            <!-- @if (showTeachersModule) {
            <div class="bg-third-color py-2">
                <div [routerLink]="'/admin/all-teacher'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Teachers
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }

                    </div>
                </div>
                <div [routerLink]="'/admin/add-teacher'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Add Teachers
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        }

                    </div>
                </div>
            </div>
            } -->

            <div class="d-flex align-items-center justify-content-between text-white icon-sidebar px-3"
                (click)="switchAcademicModule()">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        school
                    </span>

                    @if(!isMobile){
                    <p class="mt-3 ms-2 poppins">
                        Academic
                    </p>
                    }

                </div>
                @if(!isMobile){
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
                }

            </div>

            @if (showAcademicModule) {
            <div class="bg-third-color py-2">
                <div [routerLink]="'/admin/all-period'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Periods
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }

                    </div>
                </div>
                <!-- <div [routerLink]="'/admin/all-grade'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Grades
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }
                    </div>
                </div>
                <div [routerLink]="'/admin/all-group'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            All Groups
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }
                    </div>
                </div> -->
            </div>
            }


            <div class="d-flex align-items-center justify-content-between text-white icon-sidebar px-3"
                (click)="switchAccountModule()">
                <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined">
                        calculate
                    </span>
                    @if(!isMobile){
                    <p class="mt-3 ms-2 poppins">
                        Account
                    </p>
                    }

                </div>
                @if(!isMobile){
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
                }

            </div>
            @if (showAccountModule) {
            <div class="bg-third-color py-2">
                <div [routerLink]="'/admin/fees-group'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Fees Group
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            grid_view
                        </span>
                        }

                    </div>
                </div>
                <div [routerLink]="'/admin/student-fees'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Students Fees
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        }

                    </div>
                </div>
                <div [routerLink]="'/admin/all-expense'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Expenses
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            list
                        </span>
                        }

                    </div>
                </div>
                <div [routerLink]="'/admin/add-expense'"
                    class="d-flex align-items-center justify-content-between text-white subitem-sidebar poppins px-3">
                    <div class="d-flex align-items-center">
                        @if(!isMobile){
                        <span class="material-symbols-outlined">
                            chevron_right
                        </span>
                        <p class="mt-3 ms-2 poppins">
                            Add Expenses
                        </p>
                        }
                        @else{
                        <span class="material-symbols-outlined">
                            add
                        </span>
                        }

                    </div>
                </div>
            </div>
            }
            <div [routerLink]="'/admin/all-subject'" class="d-flex align-items-center text-white icon-sidebar px-3">
                <span class="material-symbols-outlined">
                    menu_book
                </span>
                @if(!isMobile){
                <p class="mt-3 ms-2 poppins">
                    Subject
                </p>
                }
            </div>
            <div [routerLink]="'/admin/settings'" class="d-flex align-items-center text-white icon-sidebar px-3">
                <span class="material-symbols-outlined">
                    settings
                </span>
                @if(!isMobile){
                <p class="mt-3 ms-2 poppins">
                    Settings
                </p>
                }

            </div>

        </div>

    </div>

</div>