<div class="content mt-4 p-4 pb-5 overflow-x-auto ">
    <div class="d-flex justify-content-end">
        <span class="material-symbols-outlined clickeable text-secondary-color fs-2" [routerLink]="'/admin/all-parent'">
            close
        </span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5 mt-5 px-5">
                <div id="avatar" [style.background-image]="'url(' + parent.profilePhoto + ')'"></div>
            </div>
            <div class="col-12 col-md-7 mt-5">
                <h3 class="text-primary-color fs-4 poppins-bold">{{parent.name}} {{parent.lastName}}</h3>
                <p class="poppins fs-5 w-75 mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa</p>

                <!-- <div class="row mt-5">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">ID Number:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.id}}</h5>
                </div> -->

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Name:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.name}} {{parent.lastName}}
                    </h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Gender:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Male</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Phone:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.phone}}</h5>
                </div>

                <!-- <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Religion:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Islam</h5>
                </div> -->

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Rol:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.role}}</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">E-mail:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.email}}</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Address:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{parent.address}}</h5>
                </div>

                <div class="row mt-4">
                    @if(parent.tutorados.length > 0){
                    <h5 class="col-12 col-md-12 poppins fw-bold fs-5 text-secondary-color">Tutor de:</h5>
                    @for (student of parent.tutorados; track student.id) {
                    <div class="row align-items-center mt-2 ms-3">
                        <div class="col-12 col-md-2 col-lg-2 mt-1">
                            <div class="avatar-small" [style.background-image]="'url(' + student.profilePhoto + ')'">
                            </div>
                        </div>
                        <div class="col-12 col-md-10 col-lg-10 mt-2">
                            <h6 class="poppins fw-bold font-size-small text-muted">{{student.name}}
                                {{student.lastName}} ({{student.email}})</h6>
                        </div>


                    </div>
                    }
                    }
                    <div class="col-6">
                        <button class="button button-primary py-2 px-5 mt-4"
                            [routerLink]="'/admin/add-student/'+parent.id">Asignar estudiante</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>