<div class="content mt-4 p-4 pb-5 overflow-x-auto ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 mt-5">
                <img class="img-fluid" src="assets/images/parent.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-12 col-md-7 mt-5">
                <h3 class="text-primary-color fs-4 poppins-bold">Daniel Grant</h3>
                <p class="poppins fs-5 w-75 mt-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa</p>

                <div class="row mt-5">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">ID Number:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">32</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Name:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Steve Lopez</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Gender:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Male</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Phone:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">+ 123 9988568</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Religion:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Islam</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Occupation:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Graphic Designer</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">E-mail:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">{{'arabagrant@gmail.com'}}</h5>
                </div>

                <div class="row mt-3">
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">Address:</h5>
                    <h5 class="col-12 col-md-6 poppins fw-bold fs-5">59 Merida, Yucatan</h5>
                </div>
            </div>
        </div>

    </div>

</div>