/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(assets/fonts/Poppins-Bold.ttf);
}

$primary-color: #14238A;
$primary-color-hover: #0e1c78;
$primary-color-disabled: #474f83;


$secondary-color: #D60A0B;
$secondary-color-hover: #b00d0d;
$secondary-color-disabled: #a74e4e;

$secondary-color-hover-light: #fff1f1;
$third-color: #263AC3;
$green-color: #4FE397;
$blue-color: #2139DE;


body {
    background-color: #F0F1F3 !important;
}

table {
    border: 1px #DDDEEE solid;
    font-family: Poppins;
}

table thead tr th {
    padding: 20px !important;
}

table thead tr th {
    color: $secondary-color !important;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

table tbody tr td {
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 15px !important;
}

.poppins {
    font-family: Poppins;
}

.poppins-bold {
    font-family: PoppinsBold;
}

.bg-primary-color {
    background-color: $primary-color;
}

.bg-secondary-color {
    background-color: $secondary-color;
}

.bg-third-color {
    background-color: $third-color;
}

.bg-green-color {
    background-color: $green-color;
}

.bg-blue-color {
    background-color: $blue-color;
}

.text-primary-color {
    color: $primary-color;
}

.text-secondary-color {
    color: $secondary-color;
}

.text-light-color {
    color: #C4C4C4;
}

.bg-light-color {
    background-color: #C4C4C4;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 1px #DDDEEE80 solid;
    background-color: #DDDEEE80;
    transition: 200ms;
    outline: none;
    font-family: Poppins;


    &:focus {
        background-color: white;
        outline: none;
        border: 1px #00000042 solid;
        transition: 200ms;
    }
}

.input-filter {
    width: 40%;
    border-radius: 5px;
    border: 1px #DDDEEE80 solid;
    background-color: #DDDEEE80;
    transition: 200ms;
    outline: none;
    height: 45px;
    font-family: Poppins;
    font-size: 16px;

    &:focus {
        outline: none;
        border: 1px #00000042 solid;
        transition: 200ms;
    }
}

.link-primary {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $primary-color-hover;
        text-decoration: underline;
    }
}


.button {
    border: none;
    outline: none;
    font-family: Poppins;

    &:hover {
        outline: none;
    }
}

.button-primary {
    border-radius: 5px;
    background-color: $primary-color;
    color: white;

    &:hover {
        background-color: $primary-color-hover;
    }
}

.button-default-primary {
    background-color: transparent;
    color: $primary-color;

    &:hover {
        color: $primary-color-hover;
    }

    &:disabled {
        color: $primary-color-disabled;
    }
}

.button-secondary {
    border-radius: 5px;
    background-color: $secondary-color;
    color: white;


    &:hover {
        background-color: $secondary-color-hover;
    }

    &:disabled {
        background-color: $secondary-color-disabled;
    }
}

.button-search {
    border-radius: 5px;
    background-color: $secondary-color;
    color: white;
    height: 45px;
    font-weight: 600;

    &:hover {
        background-color: $secondary-color-hover;

    }
}

.button-pagination-active {
    background-color: $secondary-color;
    color: white;
    height: 45px;
    width: 45px;
    font-weight: 600;

    &:hover {
        background-color: $secondary-color-hover;

    }

}

.button-pagination-inactive {
    background-color: white;
    color: black;
    border: 1px $secondary-color solid;
    height: 45px;
    width: 45px;
    font-weight: 600;

    &:hover {
        background-color: $secondary-color-hover-light;
    }

}

.font-size-small {
    font-size: .9em;
}

.title {
    font-family: PoppinsBold;
    position: relative;
    width: 200px;
    font-size: 22px;
}

.title::before {
    content: '';
    position: absolute;
    margin-top: 23px;
    width: 20%;
    height: 4px;
    background-color: red;
}

.bc-inactive {
    color: #494949;
}

.content {
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    min-height: 500px;

}

.pagination-item {
    font-family: Poppins;
    color: #747474;
    border: none;
    background-color: transparent;

    &:hover {
        color: #474747;
    }
}

.pagination-item-inactive {
    font-family: Poppins;
    color: #bababa;
    border: none;
    background-color: transparent;
}

.clickeable {
    cursor: pointer;
}

label {
    color: black !important;
    font-weight: 600;
}

#image-preview {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #DDDEEE;
}

.element-status {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
}