<h3 class="title fs-5">Teachers</h3>
<div class="mt-3 d-flex align-items-center">
    <p class="bc-inactive font-size-small poppins">
        Home
    </p>
    <span class="material-symbols-outlined text-secondary-color ms-2 mb-3">
        chevron_right
    </span>
    <p class="text-secondary-color font-size-small poppins fw-bold ms-2">
        Add Teacher
    </p>
</div>
<div class="content mt-4 p-4 overflow-x-auto">
    <div class="container-fluid">
        <h3 class="mt-5 poppins fs-4 fw-bold">Add New Teacher</h3>
        <div class="row align-items-center mt-3">
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="name" class="poppins font-size-small">First Name *</label>
                <br>
                <input type="text" id="name" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="last_name" class="poppins font-size-small">Last Name *</label>
                <br>
                <input type="text" id="last_name" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="gender" class="poppins font-size-small">Gender *</label>
                <br>
                <select id="gender" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select Gender</option>
                </select>
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="birthday" class="poppins font-size-small">Date Of Birth *</label>
                <br>
                <input type="date" id="birthday" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="blood" class="poppins font-size-small">Blood group *</label>
                <br>
                <input type="text" id="blood" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="religion" class="poppins font-size-small">Religion *</label>
                <br>
                <select id="religion" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select Religion</option>
                </select>
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="email" class="poppins font-size-small">Email </label>
                <br>
                <input type="email" id="email" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="phone" class="poppins font-size-small">Phone </label>
                <br>
                <input type="text" id="phone" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
        </div>
        <div class="row align-items-center mt-3">

            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="class" class="poppins font-size-small">Class *</label>
                <br>
                <select id="class" class="input-filter w-100 font-size-small px-3 py-2">
                    <option value="" disabled selected>Please Select Class</option>
                </select>
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group mt-2">
                <label for="address" class="poppins font-size-small">Address *</label>
                <br>
                <input type="text" id="address" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
            <div class="col-12 col-md-4 col-lg-3 form-group mt-2">
                <label for="admission" class="poppins font-size-small">Admission Date *</label>
                <br>
                <input type="date" id="admission" class="input-filter w-100 font-size-small px-3 py-2">
            </div>
        </div>


    </div>

    <div class="container-fluid">
        <div class="d-block d-md-flex align-items-center mt-5">
            <div id="image-preview"></div>
            <div class="form-group ms-3 mt-3">
                <label for="teacher_photo" class="poppins font-size-small m-0 p-0">Upload Teacher Photo (150px X
                    150px)</label>
                <br>
                <input type="file" id="teacher_photo" class="m-0 p-0">
            </div>
        </div>
        <div class="d-flex mt-5">
            <button class="button button-secondary py-2 px-5">Save</button>
            <button class="button button-primary py-2 px-5 ms-3">Reset</button>
        </div>
    </div>


</div>